/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/monsterrat.ttf);
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/monsterrat.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
  /* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/monsterrat.ttf);
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/monsterrat.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

p {
    transition: color 250ms;
}

* {
    transition: all 250ms
};

a {
    color: #fdcc0d !important;
}

button {
    font-weight: 600;
}

.options {
    display: none;
}

.result:hover > .options {
    display: block;
}

.contact-input {
  position: absolute;
  width: calc(100% - 2px);

  padding: 4px;
  top: 0;
}

.btn-primary {
    background-color: #fdcc0d;
    border-color: #fdcc0d;
}

#bg {
    position: absolute;
    width: 100vw; height: 100vh;
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    transition: background-size 250ms !important;
    transition-delay: 50ms !important;
    top: 0; z-index: 0 !important;
}

#bg:hover{
    background-size: 125vw 125vh;
}

#form {
    max-width: 500px;
    height: auto;
    max-height: 500px;
}

#register_form {
    overflow: hidden; 
    max-width: 500px;
    height: auto;
    max-height: 500px;

    display: flex;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;

    margin-left: auto;
    margin-right: auto;
}


#checklist {
    overflow: hidden; 
    max-width: 300px;
    height: auto;
    max-height: 500px;
}

#formex {
    border-radius: 17px;
    position: relative;
    background: rgba(155, 188, 115, 0.9);
    max-width: 350px;
    margin: 0 auto 100px;
    top: -110px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    overflow: hidden;
    height: 360px;
    transition: .6s;

}

#filler {
    overflow: hidden;
    visibility: hidden;
    max-width: 300px;
    height: auto;
    max-height: 500px;
}

.invalid {
    color: red;
}

.invalid:after {
    position: relative;
    right: -25px;
    content: "\2715";
}

.valid {
    color: green;
}

.valid:after {
    position: relative;
    right: -25px;
    content: "\2713";
}

#passCheckList {
    display: none;
}
#userCheckList {
    display: none;
}


